# Contexto do projeto
Obesidade está entre as doenças mais graves do século, é um problema que além de prejudicar uma quantidade enorme de pessoas (as projeções são que até 2050 mais de a metade das pessoas do mundo seja obesas), custa autíssimo para a saúde pública e para os planos de saúde, já que está fortemente ligado a diabetes, hipertensão e outras 62 doenças.

Dessa forma buscamos entender com esse projeto as causas e consequências da obesidade, bem como sua relação com a diabetes e hipertensão, já que são as duas principais doenças relacionadas.

Para tanto faremos uso de 7 datasets.

In [1]:
import pandas as pd

humanDevelopmentIndex = pd.read_csv('./data/HumanDevelopmentIndex.csv')
humanDevelopmentIndex.head()

                                                                                                                                                                                                                                                                                 Human development index (HDI)
HDI Rank (2017) Country      1990.000 1991.000 1992.000 1993.000 1994.000 1995.000 1996.000 1997.000 1998.000 1999.000 2000.000 2001.000 2002.000 2003.000 2004.000 2005.000 2006.000 2007.000 2008.000 2009.000 2010.000 2011.000 2012.000 2013.000 2014.000 2015.000 2016.000                       2017.000
168              Afghanistan NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      0.373    0.383    0.398    0.408    0.417    0.429    0.437    0.453    0.463    0.471    0.482    0.487    0.491    0.493    0.494                             0.498
68               Albania     0.645    0.626    0.610    0.613    0.619    0.632    0.641    0.641    0.652    0.662    0.669    0.676    0.682    0.689    0.694    0.704    0.711    0.720    0.724    0.729    0.741    0.752    0.767    0.771    0.773    0.776    0.782                             0.785
85               Algeria     0.577    0.581    0.587    0.591    0.595    0.600    0.608    0.617    0.627    0.636    0.644    0.653    0.664    0.674    0.684    0.692    0.698    0.707    0.709    0.719    0.729    0.736    0.740    0.745    0.747    0.749    0.753                             0.754
35               Andorra     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      0.759    0.767    0.780    0.820    0.826    0.819    0.829    0.829    0.831    0.830    0.828    0.827    0.849    0.850    0.853    0.854    0.856                             0.858

In [2]:
worldDiabetes = pd.read_csv('./data/IDFDiabetesAtlas-PrevalenceByAgeSexUrbanRural20-79years.csv')
worldDiabetes.head()

,country_id,report_country,IDF region,Report Age,Report Gender,Report set,"Adults with diabetes (20-79) in 1,000s","Adults population (20-79) in 1,000s",Diabetes prevalence (20-79)
0,1,Afghanistan,MENA,20-24,Female,Urban,6.786987,442.695289,1.53%
1,1,Afghanistan,MENA,20-24,Female,Rural,14.764568,1162.984711,1.27%
2,1,Afghanistan,MENA,25-29,Female,Urban,9.788225,347.899364,2.81%
3,1,Afghanistan,MENA,25-29,Female,Rural,21.052534,913.950636,2.30%
4,1,Afghanistan,MENA,30-34,Female,Urban,13.800323,288.586775,4.78%

In [3]:
bariatricSurgeriesUS = pd.read_csv('./data/bariatricSurgeriesInUsfrom2011to2017.csv')
bariatricSurgeriesUS.head()

  Unnamed: 0    2011    2012    2013    2014    2015    2016    2017
0      Total     158     173     179     193     196     216     228
1     Sleeve  17.80%  33.00%  42.10%  51.70%  53.61%  58.11%  59.39%
2       RYGB  36.70%  37.50%  34.20%  26.80%  23.02%  18.69%  17.80%
3       Band  35.40%  20.20%  14.00%   9.50%   5.68%   3.39%   2.77%
4     BPD-DS   0.90%   1.00%   1.00%   0.40%   0.60%   0.57%   0.70%